{% extends 'layouts/base.html' %}

{% block content %}
<div class="index-template bg-body-tertiary p-3">

<div class="gallery-template d-flex flex-row mx-auto gap-5 flex-wrap justify-content-center">
        <!-- Iterar sobre los productos recuperados de la base de datos -->
        {% for producto in producto %}
        <div class="col-md-4">
            <div class="card shadow-lg d-flex align-items-center justify-content-center">
                <img src="{{ producto.imagen_url }}" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">${{ producto.precio }}</p>
                    <a href="{% url 'verProducto' producto.id %}"><button class="btn btn-secondary"> Ver Producto</button></a>
                    <!-- Botón "Agregar al carrito" -->
                    <button type="button" class="btn btn-primary agregar-carrito" value="{{ producto.id }}">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
 
</div>
</div>   
{% endblock%} 